<div class="container-fluid py-3">
  <div class="row justify-content-center my-5">
    <div class="col-4">
      <form [formGroup]="reactiveForm" #form="ngForm">
        <div class="row">
          <div *ngIf = "passwordErrFlag">
            <div class="form-group">
              <div class = "col-md alert alert-danger">
                <span>{{passwordErrDesc}}</span>
              </div>
            </div>
          </div>
          <div *ngIf = "httpErrorResp">
            <div class="form-group">
              <div class = "col-md alert alert-danger">
                <span>Sorry. We are facing some technical issues. Please try again later</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label for="appName" class="form-label">Application Name:</label>
            <input type="text" id="appName" name="appName" formControlName="appName" placeholder="Application Name" required minlength="1" maxlength="250" class="form-control form-control-sm">
<!--                   [class.is-invalid]="appName.invalid && (appName.dirty || appName.touched)">-->
<!--            <div *ngIf="appName.invalid && (appName.dirty || appName.touched)" class="invalid-feedback">-->
<!--              <div *ngIf="appName.errors?.['required']">-->
<!--                This field is required.-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <label class="form-label">Creation Date:</label>
            <div class="input-group input-group-sm has-validation">
              <p-calendar class="date" formControlName="creationDate" [(ngModel)]="creationDate"
                          name="startAnalyze">
                          </p-calendar>
<!--              <input [type]="ord ? 'text' : 'password'" id="password" name="password" formControlName="password" required minlength="3" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">-->
              <!-- <button type="button" class="btn btn-outline-secondary" (click)="loginmodel.showPassword = !loginmodel.showPassword">
                 <i [ngClass]="{'bi bi-eye-fill': !loginmodel.showPassword, 'bi bi-eye-slash-fill': loginmodel.showPassword}"></i> -->
              <!-- </button> -->
<!--              <div *ngIf="creationDate.invalid && (creationDate.dirty || creationDate.touched)" class="invalid-feedback">-->
<!--                <div *ngIf="creationDate.errors?.['required']">-->
<!--                  This field is required.-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2 d-grid">
            <button type="button" class="btn btn-sm btn-primary" (click)="save()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <p-table [value]="contentArray" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr class="header-row">
          <th style="width:250px">Application Name</th>
          <th style="width:250px">Creation Size</th>
          <th style="width:250px">Expiry Date</th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
        </tr>
      </ng-template>
      <ng-template *ngFor="let content of contentArray"   pTemplate="body">
        <tr class="data-row">
          <span *ngFor="let file of content.fileNames">
          <td  style="width:250px">{{"test"}}</td>
          </span>
          <span *ngFor="let filesize of content.fileSizes">
          <td style="width:250px">{{"test"}}</td>
            </span>
          <td style="width:250px">
            <div class="input-group">{{content.date}}</div>
            <!-- <input class="form-control" placeholder="yyyy-mm-dd" -->
            <!-- name="dp" [(ngModel)]="expiryDate" > -->
            <!-- <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div> -->
            <!-- </div> -->
          </td>
<!--          <p-button  icon="pi pi-share-alt" iconPos="right" label="Share"></p-button>-->
<!--          <p-button (onClick)="deleteUploadedDocument(content.userDetailsId)" icon="pi pi-times" iconPos="right" label="Delete"></p-button>-->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
