<div class="container-fluid">
<ng-container>
  <div class="row">
    <div class="col-md-2">
      <p-button (onClick)="openModal(upload)" icon="pi pi-upload" iconPos="left"
                label="Upload Documents"></p-button>
    </div>
    <div class="col-md-2">
      <p-button (onClick)="openModal(newDocument)" icon="pi pi-plus" iconPos="left"
                label="New Document"></p-button>
    </div>
    <div class="col-md-3">
      <p-button (onClick)="getAllPasswordList()"
                label="Password Notification"></p-button>
    </div>
  </div>
  <div class="row">
    <div *ngIf = "saveFileErrFlag">
        <div class="form-group">
            <div class = "col-md alert alert-danger">
                <span>{{saveFileErrDesc}}</span>
              </div>
            </div>
    </div>
    <div *ngIf = "saveFileSuccessFlag">
      <div class="form-group">
          <div class = "col-md alert alert-danger">
              <span>{{saveFileSuccessDesc}}</span>
            </div>
          </div>
      </div>
    <div *ngIf = "uploadStatusFlag">
    <div class="form-group">
      <div class = "col-md alert alert-danger">
        <span>{{uploadSuccessMsg}}</span>
      </div>
    </div>
  </div>
    <div *ngIf = "saveFileStatusFlag">
      <div class="form-group">
        <div class = "col-md alert alert-danger">
          <span>{{documentSuccessMsg}}</span>
        </div>
      </div>
    </div>
    <div *ngIf = "passwordStatusFlag">
      <div class="form-group">
        <div class = "col-md alert alert-danger">
          <span>{{passwordSaveMsg}}</span>
        </div>
      </div>
    </div>
    <div *ngIf = "shareStatusFlag">
      <div class="form-group">
        <div class = "col-md alert alert-danger">
          <span>{{shareSuccessMsg}}</span>
        </div>
      </div>
    </div>
    <div *ngIf = "deleteStatusFlag">
      <div class="form-group">
        <div class = "col-md alert alert-danger">
          <span>{{deleteMsg}}</span>
        </div>
      </div>
    </div>

    <div *ngIf = "httpErrorResp">
        <div class="form-group">
            <div class = "col-md alert alert-danger">
                <span>Sorry. We are facing some technical issues. Please try again later</span>
              </div>
            </div>
    </div>
    </div>

  <div class="row" *ngIf="!passwdNotification">
    <p-table [value]="contentArray" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr class="header-row">
          <th style="width:250px">File Name</th>
          <th style="width:250px">File Size</th>
          <th style="width:250px">Expiry Date</th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-content >
        <tr class="data-row">
          <span >
           <td  style="width:250px"  >{{content.fileName}}</td>
          <td style="width:250px">{{content.fileSizes}}</td>
          <td style="width:250px">
           {{content.fileExpiryDate }}
          </td>
            </span>
          <p-button  (onClick)= "openModelShare(shareEmail,content.userContentId)" icon="pi pi-share-alt" iconPos="right" label="Share"></p-button>
          <p-button (onClick)="deleteUploadedDocument(content.userContentId)" icon="pi pi-times" iconPos="right" label="Delete"></p-button>
          <p-button (onClick)="downloadDocument(content.userContentId)"  iconPos="right" label="Download"></p-button>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="row" *ngIf="passwdNotification">
    <form (ngSubmit)="onSubmit()" [formGroup]="newPasswordForm">
        <div class="row" style="padding-top:27px; padding-bottom:20px;">
          <div class="col-md-3">
            <label  class="form-label">Application Name:</label></div>
          <input class="p-inputtext-sm" pInputText
                 placeholder="Application Name"
                 type="text" style="width:auto" formControlName="applicationName">
        </div>

        <div class="row">
          <div class="col-md-3" >
            <label class="form-label">Expiry Date:</label></div>
          <div class="col-md-5" style="padding-left:0px;"> <p-calendar  formControlName="creationDate" dateFormat="dd.mm.yy"></p-calendar></div>
        </div>
    <p-button (onClick)="savePasswordNotification()" icon="pi pi-save" iconPos="right" label="Save"></p-button>
    </form>
    <p-table [value]="passwordResultsList" [scrollable]="true">
      <ng-template pTemplate="header">
        <tr class="header-row">
          <th style="width:250px">Application Name</th>
          <th style="width:250px">Creation Date</th>
          <th style="width:250px">Expiry Date</th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
          <th style="width:250px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-content >
        <tr class="data-row">
          <span >
           <td  style="width:250px"  >{{content.applicationName}}</td>
          <td style="width:250px">{{content.creationDate}}</td>
          <td style="width:250px">
           {{content.expiryDate }}
          </td>
            </span>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
</div>
<ng-template #upload (ngSubmit)="onSubmit()" [formGroup]="newUploadForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Upload Documents</h4>
      <p-button (onClick)="closeModal()" class="cancel-button" icon="pi pi-times" iconPos="right"></p-button>
    </div>
    <div class="modal-body" style="margin: 20px">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <label  class="form-label">Upload File Name:</label></div>
          <div class="col-md-5">
            <input class="p-inputtext-lg" formControlName="uploadDocumentName" pInputText
                   placeholder="New Document Name"
                   type="text" >
          </div>
        </div>
        <input (change)="onChange($event)" formControlName="uploadFile" class="p-inputtext-lg" multiple type="file" style="padding-bottom: 31px;">


        <div class="row">
          <div class="col-md-3">
          <label  class="form-label">Expiry Date:</label></div>
         <div class="col-md-5"> <p-calendar formControlName="uploadExpiryDate" dateFormat="dd.mm.yy"></p-calendar></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="uploadedFiles.length > 0 ">
        <p-button (onClick)="onUpload() "icon="pi pi-upload" iconPos="right" label="Upload"></p-button>
      </div>
      <p-button (onClick)="closeModal()" icon="pi pi-times" iconPos="right" label="Cancel"></p-button>
    </div>
  </div>
</ng-template>
<form (ngSubmit)="onSubmit()" [formGroup]="newDocumentForm">
  <ng-template #newDocument>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Document</h4>
        <p-button (onClick)="closeModal()" class="cancel-button" icon="pi pi-times" iconPos="right"></p-button>
      </div>
      <div class="modal-body" style="margin: 20px">
        <div class="content">
          <div class="form-group" style="padding-bottom: 30px;">
            <div class="row">
              <div class="col-md-5">
                <label  class="form-label">Document Name:</label></div>
            <input class="p-inputtext-lg" formControlName="documentName" pInputText
                   placeholder="New Document Name"
                   type="text" >
            </div>
          </div>
          <div class="form-group" style="padding-bottom: 31px;">
            <div class="row">
              <div class="col-md-5">
                <label  class="form-label">Document Content:</label></div>
                        <textarea formControlName="documentContent" pInputTextarea
                                  placeholder="Type your content here!"></textarea>
            </div>
          </div>
          <div class="form-group" style="padding-bottom: 31px;">
          <div class="row">
            <div class="col-md-3">
              <label  class="form-label">Expiry Date:</label></div>
            <div class="col-md-5"> <p-calendar formControlName="expiryDate" dateFormat="dd.mm.yy"></p-calendar></div>
          </div>
        </div>
        </div>
      </div>

      <div class="modal-footer">
        <p-button *ngIf="newDocumentForm.valid" (onClick)="saveNewDocument()" icon="pi pi-save" iconPos="right" label="Save"></p-button>
        <p-button (onClick)="closeModal()" icon="pi pi-times" iconPos="right" label="Cancel"></p-button>
      </div>
    </div>
  </ng-template>
</form>
<ng-template #shareEmail (ngSubmit)="onSubmit()" [formGroup]="newShareForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Provide Email Address to share</h4>
      <p-button (onClick)="closeModal()" class="cancel-button" icon="pi pi-times" iconPos="right"></p-button>
    </div>
    <div class="modal-body" style="margin: 20px">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <label  class="form-label">Email Address:</label></div>
          <div class="col-md-5">
            <input class="p-inputtext-lg" formControlName="shareEmail" pInputText
                   placeholder="New Document Name"
                   type="text" >
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div >
        <p-button (onClick)="shareContent() "icon="pi pi-share-alt" iconPos="right" label="Share"></p-button>
      </div>
      <p-button (onClick)="closeModal()" icon="pi pi-times" iconPos="right" label="Cancel"></p-button>
    </div>
  </div>
</ng-template>




