<div class="container-fluid">
  <ng-container>
    <div class="row">
      <div class="col-md-2">
        <p-button (onClick)="openModal(model)" icon="pi pi-plus" iconPos="left"
                  label="Model Documents"></p-button>
      </div>
    </div>
    <div class="row">
      <p-table [value]="files" [scrollable]="true">
        <ng-template pTemplate="header">
          <tr class="header-row">
            <th style="width:250px">File Name</th>
            <th style="width:250px">File Size</th>
            <th style="width:250px"></th>
            <th style="width:250px"></th>
            <th style="width:250px"></th>
          </tr>
        </ng-template>
        <ng-template let-file pTemplate="body">
          <tr class="data-row">
            <td style="width:250px">{{file.name}}</td>
            <td style="width:250px">{{file.size}}</td>
            <p-button  icon="pi pi-share-alt" iconPos="right" label="Share"></p-button>
            <p-button (onClick)="deleteUploadedDocument(file.name)" icon="pi pi-times" iconPos="right" label="Delete"></p-button>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="modelForm">
  <ng-template #model>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Model</h4>
        <p-button (onClick)="closeModal()" class="cancel-button" icon="pi pi-times" iconPos="right"></p-button>
      </div>
      <div class="modal-body" style="margin: 20px">
        <div class="content">
          <!--          <div class="col-md-4">-->
          <!--            <label>Creation Time</label>-->
          <div class="col-sm-6">
            <label>Date</label>
            <p-calendar class="date"[(ngModel)]="userModel.value"></p-calendar>
          </div>
          <div class="col-md-2">
            <label>Model</label>
            <input type="text" class="p-inputtext-lg" name="model" formControlName="model" required/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p-button *ngIf="modelForm.valid" (onClick)="saveNewDocument()"(onClick)="onUpload()" icon="pi pi-save" iconPos="right" label="Save"></p-button>
        <p-button (onClick)="closeModal()" icon="pi pi-times" iconPos="right" label="Cancel"></p-button>
      </div>
    </div>
  </ng-template>
</form>
